services:
  caddy:
    image: caddy
    container_name: caddy
    restart: unless-stopped
    ports:
      - "{{ caddy_http_port | default('80') }}:80"
      - "{{ caddy_https_port | default('443') }}:443"
    volumes:
      - "{{ frigate_config_dir }}/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "{{ frigate_config_dir }}/caddy/site:/srv"
      - "{{ frigate_config_dir }}/caddy/data:/data"
      - "{{ frigate_config_dir }}/caddy/config:/config"
    networks:
      - frigate-net

  oauth2-proxy:
    container_name: oauth2-proxy
    image: "{{ oauth2_proxy_image | default('quay.io/oauth2-proxy/oauth2-proxy:v7.8.1') }}"
    command: --config /oauth2-proxy.cfg --custom-templates-dir /custom-templates --custom-sign-in-logo /custom-templates/logo.svg
    hostname: oauth2-proxy
    volumes:
      - "{{ frigate_config_dir }}/oauth2-proxy/oauth2-proxy.cfg:/oauth2-proxy.cfg"
      - "{{ frigate_config_dir }}/oauth2-proxy/custom-templates:/custom-templates"
    restart: unless-stopped
    networks:
      - frigate-net

  frigate:
    container_name: frigate
    restart: unless-stopped
    image: "{{ frigate_image | default('ghcr.io/blakeblackshear/frigate:0.15.0-beta7') }}"
    {% if frigate_plus | default(false) -%}
    environment:
      PLUS_API_KEY: "{{ frigate_plus_api_key | default('') }}"
    {%- endif %}
    {% if tpu_enabled | default(false) -%}
    devices:
      - "{{ tpu_device }}"
    {%- endif %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ frigate_config_dir }}/frigate/config:/config"
      - "{{ frigate_storage_dir }}:/media/frigate"
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: "{{ frigate_tmpfs_size | default(1000000000) }}"
    ports:
      - "{{ frigate_webrtc_port | default('8555') }}:8555"
      - "{{ frigate_rtsp_port | default('8554') }}:8554"
      {% if expose_api | default(false) -%}
      - "{{ frigate_api_port | default('5000') }}:5000"
      {%- endif %}
    networks:
      - frigate-net

  {% if frigate_notify_enabled | default(false) -%}
  frigate-notify:
    image: "{{ frigate_notify_image | default('ghcr.io/0x2142/frigate-notify:latest') }}"
    container_name: frigate_notify
    ports:
      - "{{ frigate_notify_port | default('8000') }}:8000"
    environment:
      - TZ={{ frigate_notify_timezone | default('America/Los_Angeles') }}
    volumes:
      - "{{ frigate_config_dir }}/frigate_notify/config.yml:/app/config.yml"
    restart: unless-stopped
    depends_on:
      - frigate
    networks:
      - frigate-net
  {%- endif %}

  {% if neolink_enabled | default(false) -%}
  neolink:
    container_name: neolink
    restart: unless-stopped
    image: "{{ neolink_image | default('quantumentangledandy/neolink:latest') }}"
    volumes:
      - "{{ frigate_config_dir }}/neolink/neolink.toml:/etc/neolink.toml"
    networks:
      - frigate-net
  {%- endif %}

networks:
  frigate-net:
    name: frigate-net
